@model IndexViewModel

@{
    ViewData["Title"] = "Фильмы";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 align-content-between g-3">
    @{
        foreach (var film in Model.Films)
        {
            <div class="col-3 card shadow-sm mx-1 my-1">
                <img src="@film.PosterUrl" alt="@film.Name" class="bd-placeholder-img card-img-top p-1" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"/>

                <div class="card-body">
                    <a asp-action="Details" asp-route-id="@film.Id" class="btn-link h3">@film.Name</a>
                    <p>Режиссёр: @film.Producer</p>
                    <p class="card-text ">
                        @*TODO: Move to logic*@
                        @{
                            var filmDescription = film.Description;
                            if (filmDescription.Length > 40)
                            {
                                filmDescription = filmDescription.Substring(0, 40) + "...";
                            }
                        }
                        @filmDescription
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Добавил на сайт: @film.Author</small>
                        <small class="text-muted">Год выпуска: @film.Year.ToString()</small>
                    </div>
                </div>
            </div>
        }
    }
    
    
</div>

@if (Model.Pagination.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.Pagination.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.Pagination.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.Pagination.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}